.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background: #C6D8E7; /* Old browsers */
  background: -moz-linear-gradient(top, #C6D8E7 0%, #bf97a6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C6D8E7), color-stop(100%,#bf97a6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #C6D8E7 0%,#bf97a6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #C6D8E7 0%,#bf97a6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #C6D8E7 0%,#bf97a6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #C6D8E7 0%,#bf97a6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C6D8E7', endColorstr='#bf97a6',GradientType=0 ); /* IE6-9 */
  padding: 100px 3%;
  letter-spacing: .01em;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

p {
  line-height: 1.5em;
  letter-spacing: .02em;
}

h1 {
  color: #bf97a6;
  font-size: 40px;
  margin: 10px 0;
}

h2 {
  color: white;
  font-size: 22px;
}

h3
{
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 14px;
}

h4 {
  line-height: 1.5em;
}

header {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 90px;
  > * {
    display: inline-block;

  }
  .hey {
    font-family: 'Oswald', sans-serif;
    font-size: 240px;
    letter-spacing: 1px;
    line-height: 1;
  }
  .info {
    padding-left: 25px;
    vertical-align: top;
    color: #bf97a6;
    position: relative;
    // h2 {
    //   font-weight: 300;
    // }
    .zigzag {
      // padding-left: 38px;
      margin-top: 34px;
    }
  }
}

nav {
  display: block;
  text-align: center;
  padding: 12px 0px;
  li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    margin: 17px 8px;
    // font-weight: 300;
      &:hover {
        border-bottom: 1px solid #bf97a6;
        padding-bottom: 4px;
      }
      &.current {
      border-bottom: 1px solid #bf97a6;
      padding-bottom: 4px;
    }
    a {
      color: #bf97a6;
      font-size: 20px;

    }
  }
} 

section {
  .overlay {
    position: absolute;
    background-color: black;
    background-color: rgba(122, 122, 122, 0.9);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15%;
    -webkit-backface-visibility: hidden;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    opacity: 0;
    .text {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
  }

  .block {
    &:hover {
      .overlay {
         opacity: 1;
      }
    }
  }
  img {
    border: 5px solid white;
  }
  .col4 {
    width: 29.333%;
    margin-bottom: 50px;
    margin-left: 2%;
    margin-right: 2%;
  }
}

.zigzag {
    opacity: .3;
}

.hackathon-projects {
  margin-top: 60px;
  .heading {
    margin-left: 2%;
    margin-bottom: 30px;
    h2 {
        font-size: 26px;
        margin-bottom: 14px;
    }
  }
}

.about {
  padding: 0 2%;
  p {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
  }
  a {
    border-bottom: 1px solid;
  }
  article {
    padding: 0;
    padding-left: 1.5%;
  }
  .about-pic {
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.upcoming-talks {
  padding: 15px;
  h4 {
    font-size: 24px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
  }
  ul {
    list-style: disc;
  }
  li {
    margin-bottom: 15px;
    line-height: 26px;
  }
}

footer {
  padding-top:80px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 22px;
  ul {
    margin: 0 auto;
    margin-top: 30px;
    li {
      display: inline-block;
      margin: 0 16px;
      i {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 1120px) {
  section {
    .overlay {
      position: relative;
      background-color: transparent;
      padding: 5%;
      text-align: center;
      opacity: 1;
      .text {
        top: auto;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
      }
      h3 {
        border-bottom: none;
        padding-bottom: 0;
      }
      h4 {
        display: none;
      }
    }
  }
  .about {
    .col6 {
      width: 100%;
      margin-left: 0;
    }
    .about-pic {
      margin-bottom: 60px;
    }
    article {
      padding: 0 5%; 
    }
  }
  footer {
    padding-top: 40px;
  }

}

@media (max-width: 640px) {
  body {
    padding: 8px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 0;
  }
  header {
    margin-bottom: 20px;
    .hey {
      font-size: 170px;
    }
    .zigzag {
      width: 270px;
    }
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 18px;
    }
    .info {
      padding-left: 0;
    }
  }
  nav {
    padding-top: 20px;
    li {
      margin: 5px;
      padding: 0;
      a {
        font-size: 14px;
          &:hover, &.current {
            padding-bottom: 1px;
        }
      }
    }
  }
  .overlay {
    p {
      display: none;
    }
  }
  .web-projects, .hackathon-projects {
    article {
      margin-bottom: 35px;
    }
  }
  .hackathon-projects {
    margin-top: 40px;
    article:last-child {
      margin-bottom: 0;
    }
  }
  .about {
    .about-pic {
      margin-bottom: 30px;
    }
    article {
      padding: 0;
      p {
        font-size: 14px;
      }
    }
  }
  footer {
    padding-bottom: 25px;
    .zigzag {
      width: 270px;
    }
  }
}
