.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background: #cedce7; /* Old browsers */
  background: -moz-linear-gradient(top, #cedce7 0%, #bf97a6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#bf97a6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cedce7 0%,#bf97a6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cedce7 0%,#bf97a6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cedce7 0%,#bf97a6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cedce7 0%,#bf97a6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#bf97a6',GradientType=0 ); /* IE6-9 */
  padding: 100px;
  letter-spacing: .01em;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

p {
  line-height: 1.4em;
}

h1 {
  color: #bf97a6;
  font-size: 2.5em;
  margin: 20px 0;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

h3
{
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 14px;
}

h4 {
  line-height: 1.5em;
}
header {
  text-align: center;
  margin-bottom: 15px;
  a {
    &:hover {
      color: #bf97a6;
    }
  }
  h1 {
    margin-top: 10px;
    line-height: 1.8em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 250px;
    line-height: 1;
  }
  .hey {
    display: inline-block;
  }
  .meta {
    text-align: left;
    margin-bottom: 100px;
    display: inline-block;
    padding-left:3%;
  }
  ul {
    li {
      font-size: 24px;
      line-height: 45px;
      // &:nth-child(1) a{
      //   color: lighten(#bf97a6, 27);
      // }
      // &:nth-child(2) a{
      //   color: lighten(#bf97a6, 25);
      // }
      // &:nth-child(3) a{
      //   color: lighten(#bf97a6, 22);
      // }
      // &:nth-child(3) a{
      //   color: lighten(#bf97a6, 21);
      // }
      // &:nth-child(4) a{
      //   color: lighten(#bf97a6, 20);
      // }
    }
  }
}

nav {
  ul {
    li {
      display: inline-block;
      padding: 10px;
    }
  }
}

section {
  padding: 50px 50px;
  margin-bottom: 30px;
  .amp {
    font-size: 200px;
    position: absolute;
    top: -84px;
    left: -141px;
    opacity: .3;
  }
  h1 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
  }
  .section-head {
    position: relative;
    margin-left: 1%;
    margin-bottom: 25px;
  }
  .overlay {
    position: absolute;
    background-color: black;
    background-color: rgba(122, 122, 122, 0.9);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15%;
    -webkit-backface-visibility: hidden;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    opacity: 0;
    .text {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
  }

  .block {
    &:hover {
      .overlay {
         opacity: 1;
      }
    }
  }
  img {
    border: 5px solid white;
  }
  .col4 {
    width: 29.333%;
    margin-bottom: 50px;
    margin-left: 2%;
    margin-right: 2%;
  }
}

.section1 {
  padding-right: 3%;
  padding-left: 3%;
  margin-right: 0;
  .spacer {
    height: 56%;
  }
}

.section2 {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 100px;
  .spacer {
      height: 52%;
  }
}

.craft-projects {
  padding-left: 3%;
  padding-right: 4%;
  padding-top: 100px;
  ul {
      margin-left: 1%;
  }
  li {
    width: 19.2%;
    float: left;
    margin-right: 1%;
    margin-bottom: 40px;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.section4 {
  margin-bottom: 0;
  padding: 45px 0 40px 2%;
  h1 {
    max-width: 310px
  }
  .col8 {
    .col4 {
      width: 37%;
      padding-right:1%;
    }
  }
  .wits img {
    max-width: 75%;
    margin-left: 3%;
  }
  .spacer {
    height: 44%;
  }
}

footer {
  padding-top:70px;
  margin-bottom: 0px;
  text-align: center;
  h3 {
    font-size: 22px;
    border-bottom: none;
  }
  ul {
    margin: 0 auto;
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

@media (max-width: 1280px) {
  header {
    h2 {
      padding-left: 0;
    }
    .meta {
      padding-right: 0;
    }
  }
}
// @media (max-width: 1220px) {
//   header {
//     .meta {
//       width: 100%;
//       text-align: left;
//     }
//     ul li {
//       &:nth-child(1) {
//         margin-left: 7%;
//       }
//       &:nth-child(2) {
//         margin-left: 21%;
//       }
//       &:nth-child(3) {
//         margin-left: 39%;
//       }
//       &:nth-child(4) {
//         margin-left: 48%;
//       }
//     }
//   }
// }

// @media (max-width: 1165px) {
//   .section2 .spacer {
//     height: 46%;
//   }
//   .section4 .spacer {
//     height: 35%;
//   }
// }

@media (max-width: 1120px) {
  body {
    padding: 50px;
  }
  header {
    text-align: left;
    margin-bottom: 30px;
    h1 {
      font-size: 2em;
    }
    h2 {
      margin-bottom: 8px;
      margin-left: 6%;
      font-size: 150px;
    }
    .hey {
      display: block;
    }
    .col5 {
      float: none;
    }
    .meta {
      text-align: left;
      margin-bottom: 40px;
      margin-left: 7%;
      padding-left: 0;
      width: auto;
    }
    ul li {
      margin: 0;
      font-size: 20px;
      line-height: 36px;
    }

  }
  section {
    .overlay {
      position: relative;
      background-color: transparent;
      padding: 5%;
      text-align: center;
      opacity: 1;
      .text {
        top: auto;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
      }
      h3 {
        border-bottom: none;
      }
      h4 {
        display: none;
      }
    }
  }
  .section1, .section2, .craft-projects, .section4 {
    padding-right: 0;
    padding-left: 6%;
    padding-top: 18px;
  }
  .craft-projects {
    margin-bottom: 0;
  }
  .section4 {
    .col8 {
      float: none;
    }
    .col8 .col4 {
      width: 31%;
    }
    .wits {
      display: block;
      width: 100%;
      margin-top: 70px;
      img {
        width: 31%;
        margin-left: 1%;
      }
    }
  }
  footer {
    text-align: left;
    padding-left: 8%;
  }

}

@media (max-width: 640px) {
  body {
    padding: 8px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 0;
  }
  header {
    margin-bottom: 36px;
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 100px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    ul li {
      font-size: 16px;
      line-height: 25px;
      &:first-child span {
        display: none;
      }
    }
    meta, h2 {
      margin-left: 5%;
    }
  }
  .section1, .section2, .craft-projects, .section4 {
    padding-left: 2%;
    padding-bottom: 0;
  }
  section h1 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    margin-left: 29px;
    max-width: 212px;
  }

  section .amp {
    font-size: 150px;
    position: absolute;
    top: -88px;
    left: -70px;
  }

  section .section-head {
    margin-left: 14%;
  }
  .block {
    text-align: center;
  }
  .section1 .col4, .section2 .col4, .section4 .col4{
    margin-bottom: 30px;
    width: 100%;
  }
  .craft-projects li {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    float: none;

  }
  .craft-projects li:nth-child(5n) {
    margin-right: auto;
  }
  .section4 {
    margin-top: 50px;
  }
  .section4 .col4 {
    width: 80%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .section4 .wits {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .section4 .wits img {
    width: 100%;
  }
  .wits .section-head {
    text-align: left;
  }
  footer h3 {
    font-size: 18px;
  }
  footer ul {
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
    li {
      margin-right: 10px;
    }
  }
}
